{% extends "layout.html" %}

{% block title %}
    Estimated
{% endblock %}

{% block main %}

    <table class="center">
        <thead>
            <tr>
                <th>Stock name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            <ul>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ul>
        </tbody>
    </table>


{% endblock %}